
body {
    font-family: 'Arial', sans-serif;
    background-color: #2E2E2E;  
    color: #fff;  
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    background-color: #333;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #8BC34A;  
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #B0B0B0;  
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #4CAF50;  
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;  
    color: #fff;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #8BC34A;  
}

button {
    background-color: #8BC34A;  
    color: #fff;
    border: none;
}

button:hover {
    background-color: #7CB342;  
}

button:active {
    background-color: #689F38;  
}

  /* a to ciekawe, z tym sporo paprania się bylo aby tekst sie nie rozjezdzal*/
.ascii-text pre {
    font-family: 'Courier New', monospace;  
    white-space: pre-wrap;  /* to zachowuje :białe spacje" i przerwy*/
    word-wrap: break-word; /* to gwarantuje ze dlugie ciagi typu wlasnie ascii nie beda sie zawijac do kolejnych linijek*/
    text-align: center;
    font-size: 14px;
    color: #8BC34A;  
    margin-bottom: 30px;
    line-height: 1.5;
}
